/*https://www.kooslooijesteijn.net/blog/semantic-sidenotes*/
/*https://kennethfriedman.org/thoughts/2019/marginal-notes*/
.content {
  max-width: 700px;
  width: 60%;
}

.sidenote-content {
  display: inline;
  float: right;
  position: relative;
  width: 18vw;
  margin-right: -20vw;
  font-size: 12px;
  color: #444;
}

@media (max-width: 768px) {
  .sidenote-content {
    display: block;
    float: none;
    margin-top: 20px;
    width: 80%;
    font-size: 15px;
    color: #444;
  }
}
