.sidenote {
  display: inline;
}
.sidenote__button::after {
  content: "\002a";
  display: inline-block;
  transition: color ease-out 150ms;
}
.sidenote__button--number-2::after {
  content: "\2051";
}
.sidenote__button--number-3::after {
  content: "\2042";
}
.sidenote__button--number-4::after {
  content: "\2020";
}
.sidenote__button--number-5::after {
  content: "\2021";
}
.sidenote__button--number-6::after {
  content: "\2051\2051";
}
.sidenote__button--number-7::after {
  content: "\2021\2021";
}
.sidenote__checkbox {
  display: none;
}
.sidenote__content-parenthesis {
  position: absolute;
  left: -99999px;
  top: auto;
}
.sidenote__content {
  font-family: "Avenir Next", "Avenir", "jost", "Helvetica", "Tahoma", sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
}
.sidenote__content a {
  border-bottom-color: transparent;
  text-decoration: underline;
}
@media screen and (max-width: 1302px) {
  .sidenote__checkbox ~ .sidenote__content {
    position: absolute;
    left: -99999px;
    top: auto;
  }
  .sidenote__checkbox:checked ~ .sidenote__content {
    position: relative;
    left: auto;
    display: block;
    margin: 0.8rem 0;
    padding: 0.8rem 1.6rem;
  }
  .sidenote__button {
    color: #000911;
    color: var(--action-color, #000911);
    text-decoration-skip: none;
    text-decoration-skip-ink: none;
    outline: 0.15rem solid transparent;
    transition: all 150ms;
    text-decoration: none;
    border-bottom-width: 0.2em;
    border-bottom-style: solid;
    border-bottom-color: #00bfff;
    border-bottom-color: var(--text-color, #00bfff);
    color: #000911;
    color: var(--action-color, #000911);
    text-decoration-color: #000911;
    text-decoration-color: var(--action-color, #000911);
    border-bottom-style: dotted;
    transition: text-decoration linear 50ms;
    cursor: pointer;
  }
  @supports (text-underline-offset: 0) {
    .sidenote__button {
      text-decoration-line: underline;
      text-decoration-color: #00bfff;
      text-decoration-color: var(--text-color, #00bfff);
      text-decoration-thickness: 0.2em;
      text-underline-offset: 0.25em;
      border-bottom: none;
    }
  }
  .sidenote__button:hover {
    color: #005e7a;
    color: var(--action-accent-1-color, #005e7a);
    transition-duration: 50ms;
    border-bottom-width: 0.4em;
  }
  @supports (text-underline-offset: 0) {
    .sidenote__button:hover {
      text-underline-offset: 0.4em;
    }
  }
  .sidenote__button:focus:not(:hover) {
    background-color: #e5f7fd;
    background-color: var(--link-focus-bg-color, #e5f7fd);
    outline: 0.15rem solid #005e7a;
    outline: 0.15rem solid var(--action-accent-1-color, #00bfff);
    transition-duration: 50ms;
    border-bottom-color: transparent;
  }
  @supports (text-underline-offset: 0) {
    .sidenote__button:focus:not(:hover) {
      text-decoration-color: transparent;
    }
  }
  .sidenote__button:active,
  .sidenote__button:hover:active {
    color: #000911;
    color: var(--action-accent-1-color, #000911);
    background-color: transparent;
    outline: 0.15rem solid transparent;
    border-bottom-color: #000911;
    border-bottom-color: var(--action-accent-1-color, #000911);
  }
  @supports (text-underline-offset: 0) {
    .sidenote__button:active,
    .sidenote__button:hover:active {
      text-decoration-color: #000911;
      text-decoration-color: var(--action-accent-1-color, #000911);
    }
  }
  @supports (text-underline-offset: 0) {
    .sidenote__button {
      text-decoration-style: dotted;
    }
  }
  .sidenote__button:not(:hover):focus::after {
    display: inline;
  }
  .sidenote__checkbox:checked ~ .sidenote__button::after {
    content: none;
  }
}
@media screen and (min-width: 1302px) {
  .sidenote {
    cursor: default;
  }
  .sidenote:hover .sidenote__button::after,
  .sidenote:hover .sidenote__content::before {
    color: #00bfff;
    color: var(--action-accent-2-color, #00bfff);
  }
  .sidenote:active,
  .sidenote:active .sidenote__content {
    color: #00bfff;
    color: var(--action-accent-2-color, #00bfff);
  }
  .sidenote__content {
    display: block;
    position: absolute;
    margin-top: -2.96rem;
    width: 24rem;
    padding: 0.4rem 0;
    color: #313b44;
    color: var(--text-color, #313b44);
  }
  .sidenote__content::before {
    font-family: "PT Serif", "Garamond", "Georgia", serif;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    content: "\002a";
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3.2rem;
    width: 2.4rem;
    font-size: 2.7rem;
    transition: color ease-out 150ms;
  }
  .sidenote__content--left {
    left: 0;
    margin-left: -28.8rem;
  }
  .main--archive-journal .sidenote__content--left,
  .sidenote__content--right {
    right: 0;
    left: auto;
    margin-right: -28.8rem;
    margin-left: auto;
  }
  .sidenote__content--number-2::before {
    content: "\2051";
  }
  .sidenote__content--number-3::before {
    content: "\2042";
  }
  .sidenote__content--number-4::before {
    content: "\2020";
  }
  .sidenote__content--number-5::before {
    content: "\2021";
  }
  .sidenote__content--number-6::before {
    content: "\2051\2051";
  }
  .sidenote__content--number-7::before {
    content: "\2021\2021";
  }
}
@media screen and (min-width: 1542px) {
  .sidenote__content {
    margin-right: -33.6rem;
  }
}
